*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
.spliter{
    display: flex;
}
.background{
    width: 100px;
    height: 100px;
    background-color: black;
    transition: 3s;
    margin: 0;
}
.background:hover{
    background-color: aqua;
    transition: 0.5s;

}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.formitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}
input{
    padding: 10px;
    margin: 10px;
    outline: none;
    border: none;
    border-bottom: solid black 1px;
    margin-top: 20px;
}
input::placeholder{
    color: black;
    font-size: 15px;
    padding-left: 0;
}
button{
    padding:10px ;
    width: 95%;
    border: none;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
h1{
    text-align: center;
}

