*{
    margin: 0;
    padding: 0;  
}
body{
    overflow-x: hidden; 
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.background-slider{
    display: flex;
    height: 650px;
    width:100%;
    position: absolute;
    z-index: -2;
    transform-origin: left;
    transition: 2s;
}
.img0{
    width: 1350px;
    height: 650px;
    transition: 2s;
    filter: brightness(0.5);
    image-rendering:optimizeSpeed;
}

.header{
    display: flex;
    padding: 20px;
    color: black;
    gap: 30px;
    justify-content: center;
    position: relative;
    top: 20px;
    /* font-size: 20px; */
    color: white;
    height: 185px;
    overflow-y: hidden;

}
.one{
    display:flex;
    justify-content: center;
    /* align-items: center; */
    gap:20px;
    font-size: 16px;
    flex-direction: row;

}
.header-top .one div:hover{
    cursor:pointer;
}
.header-top .one div:hover .hov-top{
    color: yellow;
}

.Home-div{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    /* margin-top: 180px; */
    /* display: none; */
    transform: translateY(190px);
    opacity: 0;
    transition: 0.3s;
}
.Home:hover .Home-div{
    transform: translateY(0px);
    transition: 0.3s;
    opacity: 1;

}
.pages-div{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    /* display: none; */
    transform: translateY(190px);
    opacity: 0;
    transition: 0.3s;   
}
.Pages:hover .pages-div{
    transform: translateY(0px);
    opacity: 1;
    transition: 0.3s;
}
.Home-div,.About-div,.Shop-div,.product-div,.pages-div{
    border-left: 5px solid yellow;
    /* background-color: white; */
    height: fit-content;
    width: fit-content;
    /* width: 150px; */
    position: absolute;
    z-index: 1;
    margin-top: 5px;
    /* overflow: auto; */
}
.Home-div::before,.About-div::before,.pages-div::before,.Shop-div::before,.product-div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    z-index: 1;
}
.Home-div::after,.pages-div::after,.About-div::after,.Shop-div::after,.product-div::after{
    content: '';
    position: absolute;
    top: -7px;
    left: -5px;
    width: 50%;
    height: 100%;
    background: yellow;
    z-index: 0;

}
.About-div{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
   /* display: none; */
   transform: translateY(190px);
   transition: 0.3s;
   opacity: 0;
}
.About:hover .About-div{
    transition: 0.3s;
    opacity: 1;
    transform: translateY(0px);
}
.header button{
    border: none;
    padding: 10px;
}
.Shop-div{
    display: flex;
    flex-direction: column;
    /* display: none; */
    transform: translateY(190px);
    transition: 0.3s;
    opacity: 0;

}
.Shop:hover .Shop-div{
    transform: translateY(0px);
    transition: 0.3s;
    opacity: 1;
}
.product-div{
    display: flex;
    flex-direction: column;
    /* display: none; */
    transform: translateY(190px);
    transition: 0.3s;
    opacity: 0;
}
.News:hover .product-div{
    transform: translateY(0px);
    transition: 0.3s;
    opacity: 1;
}

.btn{
    padding:10px;
    padding-right: 30px;
    /* border: 1px solid black; */
    color: black;
    background:white;
    position: relative;
    /* transition: color 0.2s linear; */
    cursor: pointer;
    z-index: 1;
    
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    transition: 0.3s ease-out;
    transform-origin: left;
    z-index: -1;
}
.btn::before{
    transform: scaleX(0);
    opacity: 0.2;
}
.btn:hover::before{
    transform: scaleX(1);
    opacity: 1;
    /* transition: 0.3s; */
}


.menudetails{
    width: 350px;
    height: 650px;
    background-color: yellow;
    position: absolute;
    top: 1px;
    padding: 25px;
    left: -400px;
    z-index: 1;
    overflow-y: scroll;
    transition: 1s;
}
.menudetails p,.menudetails h2,.menudetails img{
    padding-top: 10px;
}
.phone-num{
    width: 200px;
    height: 55px;
    align-content: center;
    text-align: center;
    /* padding: 10px 30px 10px 30px; */
    background-color: yellow;
    color: black;
    margin-top: -10px;
    /* padding-top: 10px; */
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s linear;
    border-right: solid 25px transparent;
    clip-path:polygon(0 0, 100% 0%, 85% 100%, 0% 100%);


}
.phone-num:hover{
    background-color:transparent;
    transition: 0.5s;
    color: white;
}
.phone-num:hover .phone-icon{
    background-color: yellow;
    color: black;
    padding: 17px 0px 17px 0px;
    border-right: 2px solid yellow;
    transition: 0.5s all linear;
}

.phone-icon{
    width: 55px;
    height: fit-content;
    padding: 15px 0px 15px 0px;
    background-color: black;
    color: white;
    transition: 0.5s;
    transform: skewX(-30deg) translateX(6px);
}

.info-1{
    width: 700px;
    height: 300px;
    color: white;
    margin-left: 150px;
    transition: 1s;
    position: relative;
    top: -80px;
    z-index: 0;
    /* transform-origin: top; */
    
    
}
.info_h1sample{
    font-size: 67px;
    padding: 8px;
    transition: 1s;
    animation: info-h1sample 1s ease-in-out;
}
@keyframes info-h1sample{
    from{
        opacity: 0;
        transform: translateY(70%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.info_h1sample2{
    font-size: 67px;
    padding: 8px;
    transition: 1s;
    animation: info-h1sample2 1s ease-in-out;
}
@keyframes info-h1sample2{
    from{
        opacity: 0;
        transform: translateY(70%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}


.info_h1{
    font-size: 67px;
    padding: 8px;
    transition: 1s;
    animation: info-h1 1s ease-in-out;
}
@keyframes info-h1{
    from{
        opacity: 0;
        transform: translateY(70%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.info_parasample{
    font-size: 20px;
    padding: 8px;
    transition: 1s;
    animation: info-parasample 1.5s ease-in-out;

}
@keyframes info-parasample{
    from{
        opacity: 0;
        transform: translateY(70%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.info_parasample2{
    font-size: 20px;
    padding: 8px;
    transition: 1s;
    animation: info-parasample2 1.5s ease-in-out;

}
@keyframes info-parasample2{
    from{
        opacity: 0;
        transform: translateY(70%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.info_para{
    font-size: 20px;
    padding: 8px;
    transition: 1s;
    animation: info-para 2s ease-in-out;

}

@keyframes info-para{
    from{
        opacity: 0;
        transform: translateY(70%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.start-consultingsample{
    border: solid 2px yellow;
    background-color: yellow;
    width: 200px;
    height: 50px;
    /* padding: 10px; */
    margin-top: 20px;
    color: black;
    transition: 1s;
    clip-path:polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    animation: start-consultingsample 2s ease-in-out;
}
@keyframes start-consultingsample{
    from{
        opacity: 0;
        transform: translateY(70%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.start-consultingsample2{
    border: solid 2px yellow;
    background-color: yellow;
    width: 200px;
    height: 50px;
    /* padding: 10px; */
    margin-top: 20px;
    color: black;
    transition: 1s;
    clip-path:polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    animation: start-consultingsample2 2s ease-in-out;
}
@keyframes start-consultingsample2{
    from{
        opacity: 0;
        transform: translateY(70%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.start-consulting{
    border: solid 2px yellow;
    background-color: yellow;
    width: 200px;
    height: 50px;
    /* padding: 10px; */
    margin-top: 20px;
    color: black;
    transition: 1s;
    clip-path:polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    animation: start-con 2s ease-in-out;
}
@keyframes start-con{
    from{
        opacity: 0;
        transform: translateY(70%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.start-consulting:hover{
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.start-consulting:hover .consulting{
    background-color: yellow;
    color: black;
    padding-left: 10px;
    border-right: yellow 10px solid ;
    transition: 1s;
    cursor: pointer;
}
.consulting{
    background-color: black;
    color: white;
    border: none;
    height: 50px;
    width: 50px;
    transform: skewX(-30deg) translateX(5px);
    transition: 1s;
    cursor: pointer;
}

.arrow{
    background-color: black;
    padding: 10px;
    color:white;
    transform: skewX(-20deg);
    transition: 1s;
}
.backstyle{
    width: 400px;
    height: 650px;
    background-color: yellow;
    transform: skewX(-20deg);
    opacity: 0.5;
    position: absolute;
    z-index: -2;
    top: 2px;
    right: 250px; 
    animation: back 3s ease-out;
    
}
@keyframes back{
    from{
        opacity: 0;
        transform: translateX(20%) skewX(-20deg);
        
    }
    to{
        opacity: 0.5;
        transform: translateX(0%) skewX(-20deg);
        
    }
}

.backstyle-dark{
    width: 300px;
    height: 550px;
    background-color: yellow;
    transform: skewX(-20deg);
    position: absolute;
    top: 100px;
    right: 200px;
    transition: 1s;

}
.arrow-left{
    transform: skewX(-20deg);
    position: absolute;
    top: 400px;
    right: 200px;
   
}
.arrow-right{
    transform: skewX(-20deg);
    position: absolute;
    top: 400px;
    right: 110px;
}
.arrow-left button,.arrow-right button{
    background-color: black;
    color: white;
    height: 110px;
    border: solid yellow 2px;
}
.arrow-left i,.arrow-right i{
   padding: 30px;
}
.arrow-left button:hover,.arrow-right button:hover{
    border-color:gray ;
    cursor: pointer; 
}
.planning-designing-materials{
    display: flex;
    margin-top: 250px;
    justify-content: center; 
    column-gap: 40px;
    
}
.planning,.designing,.materials{
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 5px;
    transition: 0.5s;

}
.background-planning,.background-planning2,.background-planning3{
    width: 200px;
    height: 300px;
    background-color:whitesmoke;
    transform: skewX(-20deg);
    position: relative;
    top: -270px;
    z-index: -1;
    padding: 5px;
    transition: 0.5s;

}
.wooden-house,.Building,.Quality{
    border: yellow solid 2px;
    width: fit-content;
    padding: 30px;
    margin-left: 20px;
    background-color: white;
    transform: skewX(-20deg);
    transition: 0.5s;
}
.wooden-house img,.Building img,.Quality img{
    transform: skewX(20deg);
}
.planning h1,.planning p{
    margin-top: 5px;
    margin-right: 30px;
}

.planning span,.designing span,.materials span{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    opacity: 0;
    border: solid yellow 2px;
    position: relative;
    top: 50px;
    left: -40px;
    transition: 0.5s;
}
.planning:hover span,.designing:hover span,.materials:hover span{
   opacity: 1;
   left: -20px;
   transition: 1s;
   cursor: pointer;
}

.planning:hover .wooden-house,.designing:hover .Building,.materials:hover .Quality{
    background-color: yellow;
    cursor: pointer;
    transition: 0.5s;
}
.planning:hover .background-planning,.designing:hover .background-planning2,.materials:hover .background-planning3{
    background-color: yellow;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.worker-layout{
    height: 650px;
    /* background-color: aqua; */
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}
.worker-img{
    margin-left: 70px;
    
}
.coworker{
    width: 300px;
    height: 400px;
    position: relative;
    top: 100px;
}
.female-worker{
    width: 200px;
    height: 250px;
    position: relative;
    left: 10px;
    top: 200px;
    
}
.back-workerimg{
    width:300px ;
    height: 600px;
    background-color: yellow;
    transform: skewX(-20deg);
    position: relative;
    top: -360px;
    left: 150px;
    z-index: -1;
}
.company-info{
    width: 50%;
    margin-left: 30px;
    margin-top: 100px;
    overflow-y: hidden;
}
.company-info h3{
    text-transform: uppercase;
    color: rgb(109, 107, 107)
;

}
.company-info h1{
    font-size: 50px;
}

.company-info .p{
    margin-left: 75px;
    margin-top: 50px; 
}
.company-info img{
    filter: brightness(0.1);
    margin-left: 75px;
    margin-top: 50px; 
}
.company-info .p2,.company-info .p3{
    margin-left: 75px;
}
.year-people-location{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.year-people-location div{
    width: 300px;
    height: 150px;
    border: solid 1px gainsboro;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1px;
    transition: 1s;
}
.people{
    position: relative;
    margin-top: 100px;
}
sup{
    font-size: 20px;
}
.year h1,.people h1,.location h1{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    font-size: 60px;
}

.year-back,.people-back,.location-back{
    width: 60px;
    height: 100px;
    background-color: yellow;
}
.year-back{
    transform: translateX(30px) translateY(-40px) skewX(-20deg);
}
.people-back{
    position: absolute;
    bottom: -50px;
    right: 5px;
    transform:skewX(-20deg);
}
.location-back{
    transform: translateX(50px) translateY(-40px) skewX(-20deg);
}
.year:hover,.people:hover,.location:hover{
    box-shadow: 20px 20px 20px gainsboro;
    transition: 1s;

}

.year h1~span,.people h1~span,.location h1~span{
  margin-bottom: 30px;
}
.year p,.people p,.location p{
    margin-bottom: 100px;
    margin-left: 20px;
}
.year h1,.people h1,.location h1{
    margin-left: 10px;
    margin-top: 20px;
}
.completed-project{
    height: 800px;
    background-color: whitesmoke;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    overflow:hidden;
}
.yellow-project-div{
    width: 30px;
    height: 60px;
    background-color: black;
    transform: skewX(-20deg);
    margin-top: 100px;

}
.black-project-div{
    width: 20px;
    height: 40px;
    background-color: yellow;
    border: solid black 2px;
    border-right: none;
    transform: translateX(-10px) translateY(7px);
   

}
.completed-project h3{
    color: rgb(141, 136, 136);
}
.completed-project h1{
    font-size: 45px;
}
.slider-2{
    width: 1050px;
    height: 500px;
    /* border: solid black 2px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 95px;
    overflow-x:hidden;
    transition-duration: 2s;
    scroll-behavior: smooth;
}
.slider-2-img1{
    width:490px;
    position: relative;
    z-index: 0;
}
.button{
    display: flex;
    flex-direction: row;
}
.img-slider-button{
    background-color:transparent;
    border: solid 2px black;
    padding-left: 10px;
    padding-right: 10px;
    width: 40px;
    height: 15px;
    cursor: pointer;
    
}
.img-slider-button:active{
    background-color: black;
}


.slider-2-content{
    width: 400px;
    height: 100px;
    background-color: white;
    border: solid 2px gainsboro;
    padding: 10px;
    /* border-bottom-right-radius: 100px; */
    position: relative;
    z-index: 1;
    top: -40px;
    left: 20px;
    cursor: pointer;
    clip-path:polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
.slider-2-content button{
    /* padding: 20px; */
    width: 60px;
    height: 125px;
    border: none;
    padding: 10px;
    background-color: yellow;
    position: absolute;
    /* left: 400px; */
    transform: skewX(-20deg);
    top:-5px;
    right: -50px;
    transition: 0.5s;
}
.slider-2-content:hover button{
    transform: skewX(-28deg);
    right: 17px;
    transition: 0.5s;
}
.slider-2-content:hover{
    border: solid 2px yellow;
    transition: 1s ease-in-out;
}
.our-skilled-team{
    height: 690px;
    /* background-color: aquamarine; */
    position: relative;
}

.slider-background-style{
    width: 400px;
    height: 690px;
    transform: skewX(-20deg);
    background-color: yellow;
    position: absolute;
    right: 10px;
    bottom: -100px;
    z-index: 0;
}
.preview,.next{
    width: 50px;
    height: 80px;
    transform: skewX(-20deg);
    background-color: white;
    border: gainsboro 2px solid;
    float: inline-end;
    position:absolute;
    cursor: pointer;
    transition: 0.3s;
    
}
.preview:hover,.next:hover{
    background-color: yellow;
    transition: 0.5s;
}
.preview{
    top: 50px;
    right: 150px;
}
.next{
    top: 50px;
    right: 90px;
}
.our-skilled-team h3,.our-skilled-team h1{
    padding-left:50px ;


}
.our-skilled-team h1{
    font-size: 50px;
}
.our-skilled-team h3{
    padding-top: 50px;
    font-size: 20px;
    color: gray;
}
.workers{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.worker-slide1,.worker-slide2,.worker-slide3{
    display: flex;
    flex-direction: row;
}
.worker1,.worker2,.worker3,.worker4,.worker5,.worker6,.worker7,.worker8,.worker9{
    display: flex;
    margin-left: 98px;
    position: relative;
    /* background-color: yellow; */
}
.worker1::before,.worker2::before,.worker3::before{
    content: "";
    width: 30%;
    height: 85%;
    position: absolute;
    top: 60px;
    left: 30px;
    background-color: yellow;
    transform: skewX(-20deg);
    z-index: -1;
}
.worker-data{
    width: 250px;
    height: max-content;
}

.worker-logo div{
    width: 40px;
    height: 50px;
    border: 2px solid gainsboro;
    margin-left: 2px;
    transform: skewX(-20deg);
    display: inline-block;
    transition: 1s;
}
.worker-logo div i{
    transform: skewX(20deg);
    margin-top: 18px;
    margin-left: 14px;
}
.worker-logo .fb:hover{
    background-color: blue;
    color: white;
    transition: 1s;
    cursor: pointer;
}
.worker-logo .twitter:hover{
    background-color: rgb(0, 162, 255);
    cursor: pointer;
    color: white;
    transition: 1s;
}
.worker-data{
    margin-top: 200px;
    margin-left: 20px;
}
.worker-data h2,.worker-data p,.worker-data .worker-logo{
    margin-top: 10px;
}

.grays{
    filter: grayscale(0.9);
    margin-left: 75px;
    /* transform: translate(); */
}
.workerdata2,.workerdata3{
    display: none;
}
.core-feature{
    height: 690px;
    /* background-color: gray; */
    padding-left: 150px;
}
.core-feature-div{
    margin-top: 25px;
    width: 50%;
    /* border: solid 2px yellow; */
    text-transform: capitalize;
}
.core-feature-div h1{
    font-size: 55px;

}
.early h3,.integrity h3,.solution h3,.innovation h3{
    width: 200px;
    height: 20px;
    background-color:gainsboro;
    padding: 10px;
    margin-top: 20px;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
.early h3,.integrity h3,.solution h3,.innovation h3{
    position: relative;
    z-index: 1;
    cursor: pointer;
    /* transition: 1s; */
}
.core h3{
    background-color: yellow;
}
.core h3::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background:black;
    width: 10%;
    height: 100%;
    z-index: 0;
    transform: skewX(-40deg);
}
 .core h3::after{
    content: "";
    position: absolute;
    top: 0;
    right: -290px;
    width: 100%;
    background:black;
    height: 100%;
    z-index: -1;
    transform: skewX(-40deg);
    animation: slid 2s linear ease-in-out;
}
@keyframes slid {
    from{
        right: -290px;
        transform: translateX(0px) skewX(-40deg);   
    }
    to{
        right: -270px;
        transform: translateX(-10px) skewX(-40deg);
        
    }
} 

.coreinside{
    width: 80%;
    position: relative;
    border: solid 2px gainsboro;
    padding: 25px;
    top: -15px;
    left: -30px;
}
.early-div{
    display: none;
}
.integrity-div{
    display: none;
}
.solution-div{
    display: none;
}
.innovation-div{
    display: none;
}
.dropd{
    display: block;
    transition:1s ;
}
.core-feature{
    display: flex;
}
.video{
    margin-top: 25px;
    width: 50%;
    position: relative;
}

.play-symbol{
    width: 150px;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewX(-20deg);
    position: absolute;
    top: 180px;
    left: 160px;
    border: solid yellow 2px;
}
.play-symbol p{
    transform: skewX(20deg);
    
}
.play-symbol:hover{
    opacity: 0.4;
    /* filter: brightness(0.5); */
}
.play-symbol:hover .play-symbol p{
    color: black;
    opacity: 1;
    transition: 1s;
}

.backstyle-video{
    width: 200px;
    height: 450px;
    background-color: yellow;
    transform: skewX(-20deg);
    position: absolute;
    top: 60px;
    left: 20px;
}
.video-figure{
    position: relative;
    margin-top: -50px;
    z-index: -1;
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
}
.video-figure{
    height: 690px;
}
.scroller{
    margin-top: 100px;
    display: flex;
    width: 80%;
    overflow-x:scroll;
    scroll-behavior: smooth;
    margin-left: 10%;
    gap: 40px;
    touch-action: manipulation;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.your-renovation{
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    height: 690px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    background-image: url(./source/images/istockphoto-810869596-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.renovation-1{
    margin-top: 200px;
    text-align: center;
    width: 50%;
}
.your-renovation h3{
    font-size: 50px;
}
.your-renovation h2{
    font-size: 100px;
    position: relative;
    top: -40px;
}
.your-renovation pre{
    font-size: 20px;
    position: relative;
    top: -40px;
    padding: 5px;
}
.rotating-img{
    animation: rotimg 10s infinite linear;
}
@keyframes rotimg{
    to{
        transform: rotate(360deg);
    }
}
.r-arrow{
    transform: translateY(-170px) translateX(60px) rotate(-30deg);
    font-size: 50px;
}
.backstyle-renovation{
    width: 350px;
    height: 100%;
    background-color: yellow;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 0;
    transform: skewX(-20deg);
}
.backstyle-renovation2{
    width: 220px;
    height: 400px;
    background-color: yellow;
    position: absolute;
    top: 250px;
    right: -40px;
    transform: skew(-25deg);
}
.backstyle-renovation-light{
    width: 350px;
    height: 100%;
    background-color: yellow;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: -40px;
    transform: skewX(-20deg);

}

.section9{
    width: 100%;
    height: 690px;
    display: flex;
    margin-top: 50px;
}
.section9-container{
    width: 50%;
    height: 690px;
}
.test{
    margin-left: 100px;
    margin-top: 100px;
}
.slides{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 100px;
    /* background-color: yellow; */
    overflow-x:hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
}
.slide1{
    position: absolute;
    width: 350px;
    height: 300px;
    padding: 10px;
}
.slide2{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 400px;
    padding: 10px;
}
.slide3{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 800px;
    padding: 10px;
}
.slide-change-btn{
    display: flex;
    margin-top: 40px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;

}
.slide-change-btn button{
    width:40px;
    height: 20px;
    cursor: pointer;
    background-color: none;
    border: solid black 2px;
}

.slide-change-btn button:active{
    background-color:black;
}




.employee-info{
    width: 50%;
    /* background-color: gray; */
    height: 690px;

}
.clients{
    margin-top: 40px;
}
.section-10{
    width: 100%;
    /* background-color: bisque; */
    height: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}
.section-10 span{
    font-size: larger;
    font-weight: 600;
}

.section-10 h1{
    font-size: 50px;

}
/* .yellow-logo{
    margin-top: 100px;
    width: 15px;
    height: 35px;
    background: yellow;
    border: solid black 2px;
    position: relative;
    z-index: 1;
    transform: skewX(-25deg);
    
}
.yellow-logo::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: -1;
    width: 30px;
    height: 60px;
    background: black;
   
} */
.employee-card{
    display: flex;
    gap: 25px;
    
}
.employee-card .img-card{
    width: 350px;
    transition: 1s;
}
.card:hover{
    box-shadow: 10px 10px 10px gainsboro;
}
.card:hover .img-card{
    transform: scale(1.1) skewX(5deg);
    transition: 1s;
}

.card{
    width: 350px;
    height: 490px;
    border: solid black 1px;
    overflow: hidden;
    transition: 1s;
    position: relative;
}
.back-ar-light{
    position: absolute;
    top: 0;
    width: 120px;
    height: 250px;
    background-color: yellow;
    transform: skewX(-20deg) translateX(400px);
    opacity: 0.5;
    transition: 0.5s;
}
.card:hover .back-ar-light{
    transform: skewX(-20deg) translateX(210px);
    transition: 1s;
}
.gr{
    color: gray;
}
.back-ar-dark{
    width: 55px;
    height: 90px;
    text-align: center;
    align-content: center;
    background-color: yellow;
    transform: skewX(-20deg) translateX(370px);
    position: absolute;
    top: 140px;
    left: 0px;
    transition: 0.5s;
}
.card:hover .back-ar-dark{
    transform: skewX(-20deg) translateX(275px);
    transition: 0.5s;

}
.blog-data{
    background-color: white;
    position: relative;
    z-index: 1;
    top: -20px;
    padding: 10px;
}
.blog-data h3{
    background-color: yellow;
    padding: 10px 5px 10px 5px ;
    height: 20px;
    width: 200px;
    position: relative;
    top: 10px;
    left: 20px;
}
.blog-data h3::before{
    content: "";
    position: absolute;
    top: -5px;
    right: -6px;
    width: 25px;
    height: 50px;
    transform: skewX(-20deg);
    background: yellow;
    border: white solid 2px;
    z-index: 1;
}
.blog-data h2{
    padding-top: 30px;
    padding-left: 20px ;
}
.blog-author{
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.view-all-btn{
    margin-top: 20px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    cursor: pointer;
    transition: 1s;
    border: solid yellow 2px;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
.view-all-btn:hover{
    background-color: transparent;
    
    transition: 1s;

}
.view-all-btn:hover .arr-view{
    padding:0px 2px 0px 2px;
    transition: 1s;
    background-color: yellow;
    color: black;
}
.arr-view{
    margin-left: 70px;
    background-color: black;
    width: 50px;
    height: 68px;
    color: white;
    text-align: center;
    border-top: solid yellow 2px;
    border-bottom: solid yellow 2px;
    align-content: center;
    transition: 1s;
    transform: skewX(-30deg) translateX(12px);
}
.section-11{
    width: 100%;
    height: 130px;
    background-color: rgb(71, 69, 69);
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
}
.arr-views{
    margin-left: 30px;
    background-color: black;
    width: 50px;
    height: 60px;
    color: white;
    text-align: center;
    border-top: solid yellow 2px;
    border-bottom: solid yellow 2px;
    align-content: center;
    transition: 1s;
    transform: skewX(-35deg) translateX(12px);
}
.section-11-inside img{
    border-radius: 50%;
    border: solid whitesmoke 2px;
}
.authorimg2{
    transform: translateX(-15px);
}
.section-11-inside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-all-btn:hover .arr-views{
    padding:0px 2px 0px 2px;
    transition: 1s;
    background-color: yellow;
    color: black;
}
.view-all-btn2{
    margin-top: 20px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    cursor: pointer;
    transition: 1s;
    border: solid yellow 2px;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
.view-all-btn2:hover{
    background-color: transparent;
    
    transition: 1s;

}
.view-all-btn2:hover .arr-views{
    padding:0px 2px 0px 2px;
    transition: 1s;
    background-color: yellow;
    color: black;
}
.section-12{
    width: 100%;
    height: 550px;
    background-color: black;
    color: white;
    
}
#input{
    margin-top: 10px;
    width: 90%;
    border:none;
    padding: 25px;
    background-color: rgb(71, 69, 69); 
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
#input::placeholder{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}
#input ~ button{
    background-color: yellow;
    border:none;
    cursor: pointer;
    outline: none;
    padding: 18px;
    transform: skewX(-37deg) translateX(225px) translateY(-62px);

}
.section-12-inside{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}
.section-12-inside h3{
    font-size: 25px;
}
.section-12-inside p,.section-12-inside ul,.section-12-inside span{
    font-size: 17px;
}

.section-12-1,.section-12-2,.section-12-3{
    width: 25%;
    height: fit-content;
    overflow-wrap:break-word;
    padding: 20px;
}
.section-12-1 p,.section-12-2 ul,.section-12-3 p{
    padding-top: 10px;
}
.section-12-2 li{
    margin-top: 10px;
}
.sp{
    margin-left: 20px;
}
.section-12-2 ul{
    list-style-type: none;
}
.section-13{
    padding-top: 20px;
    width: 100%;
    border-top: solid gray 2px;
}
.heart{
    color: yellow;
}
.bt1{
    text-decoration: none;
    color: white;
    position: relative;
    border-bottom: 1px solid gray;
    z-index: 1;

}
.bt1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background: yellow;
    width: 100%;
    height: 9%;
    z-index: 2;
    transition: 0.5s ease-in-out;
    transform-origin: left;
   
}
.bt1::before{
    transform: scaleX(0);
}
.bt1:hover::before{

    transform: scaleX(1);
}
.section-13{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    padding: 50px 0px 0px 0px;

}
.section-13-inside{
    display: flex;
    gap: 25px;
}
.sticky-arrow{
    position: fixed;
    bottom: 20px;
    left: 92%;
    background-color:bisque;
    border: solid white 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 5;
    transition: 1s;
    display: none;
}
.sticky-arrow:hover i{
    transform: translateY(-5px);
    transition: 1s;

}
.sticky-arrow::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -9px;
    left: -10px;
    /* background: white; */
    width: 120%;
    height: 120%;
    border-radius: 100%;
    border: dotted 4px gray;
    animation: rote 10s linear infinite;
}
@keyframes rote{
    100%{
        transform: rotate(360deg);
    }
}
.sticky-arrow{
    color: black;
    text-align: center;
    align-content: center;
}